.idea/
venv/
ExternalServices.py
/ClosedJSON/
/Saved Characters/
/Docs/_build/
Docs/_static/
Docs/_templates/
.DS_Store
*.pyc
**/__pycache__/
.coverage
coverage.xml
!/Tests/TestData/ExternalServices.py
static/style.css
static/style.css.map
