.characterSheetTop
  font-family: 'Inconsolata', monospace
  font-size: 2vmin
  display: grid
  grid-column-gap: 2vw
  line-height: 1
  grid-template-columns: 14vw 22vw 18vw 36vw
  grid-template-rows: auto auto auto auto auto auto auto auto

.propertiesDown
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  line-height: 1

.characterCls
  @extend .propertiesDown
  grid-column-start: 1
  grid-column-end: col2-start
  grid-row-start: 1
  grid-row-end: row3-start

.characterHistory
  @extend .propertiesDown
  grid-column-start: 2
  grid-column-end: col3-start
  grid-row-start: 1
  grid-row-end: row3-start

.characterBonds
  @extend .propertiesDown
  grid-column-start: 3
  grid-column-end: col4-start
  grid-row-start: 1
  grid-row-end: row6-start

.characterStats
  grid-column-start: 4
  grid-column-end: end
  grid-row-start: 1
  grid-row-end: 7
  display: grid
  line-height: 1
  grid-column-gap: 0.4vw
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto auto auto auto auto auto auto

.characterAttributes
  position: relative
  top: -1vh
  grid-column-start: 1
  grid-column-end: col3-start
  grid-row-start: 4
  grid-row-end: end
  display: grid
  grid-column-gap: 2vw
  grid-template-columns: 14vw 7vw 7vw

.gridTitle
  font-weight: bold

.gridItem
  font-weight: normal

.lostGridItem
  @extend .gridItem
  text-decoration: line-through