.characterSheetTop
  font-family: 'Inconsolata', monospace
  font-size: 2vmin
  display: grid
  grid-column-gap: 2vw
  grid-template-columns: 16vw 30vw 20vw 24vw
  grid-template-rows: auto auto auto auto auto auto auto auto
  line-height: 1

  @media (max-width: 1024px)
    grid-template-columns: 26vw 34vw 30vw
    grid-template-rows: auto auto auto auto auto auto auto auto 2vmin auto

  @media (max-width: 768px)
    grid-template-columns: 36vm 56vw
    font-size: 2.5vmin
    grid-template-rows: auto auto auto 2.5vmin auto 2.5vm auto 2.5vmin auto

  @media (max-width: 412px)
    font-size: 3vmin


.propertiesDown
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  line-height: 1

.characterCls
  @extend .propertiesDown
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 1
  grid-row-end: 3

.characterHistory
  @extend .propertiesDown
  grid-column-start: 2
  grid-column-end: end
  grid-row-start: 1
  grid-row-end: 3

.characterBonds
  @extend .propertiesDown
  line-height: 1
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 1
  grid-row-end: 6

  @media (max-width: 768px)
    margin-top: 2.5vmin
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 4
    grid-row-end: 4

.characterAttributes
  position: relative
  grid-column-start: 1
  grid-column-end: 3
  grid-row-start: 4
  grid-row-end: 8
  display: grid
  grid-column-gap: 2vw
  grid-template-columns: 16vw 1fr 1fr

  @media (max-width: 1024px)
    grid-template-columns: 26vw 16vw 16vw

  @media (max-width: 768px)
    margin-top: 2.5vmin
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 6
    grid-row-end: 7

.characterStats
  grid-column-start: 4
  grid-column-end: end
  grid-row-start: 1
  grid-row-end: 7
  display: grid
  line-height: 1
  grid-column-gap: 0.4vw
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto auto auto auto auto auto auto

  @media (max-width: 1024px)
    grid-template-columns: 26vw 16vw 16vw
    grid-column-gap: 2vw
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 10
    grid-row-end: end

  @media (max-width: 768px)
    margin-top: 2.5vmin
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 8
    grid-row-end: end

.gridTitle
  font-weight: bold

.gridItem
  font-weight: normal

.lostGridItem
  @extend .gridItem
  text-decoration: line-through