@import media

.characterSheet
  font-family: 'Inconsolata', monospace
  font-size: 2vmin
  line-height: 1
  padding: 2vh 2vw
  display: flex
  justify-content: flex-start
  align-items: stretch
  flex-direction: column
  flex-wrap: wrap
  min-height: calc(74vh - 10vmin)

  @media #{$small}
    font-size: 2.5vmin

  @media #{$mobile}
    font-size: 3vmin

.characterSheetTop
  display: grid
  grid-template-columns: 3fr 4fr 3fr 3fr
  grid-template-rows: auto auto auto auto auto auto auto auto auto
  line-height: 1

  @media #{$medium}
    grid-template-columns: 2fr 3fr 3fr
    grid-template-rows: auto auto auto auto auto auto auto auto 2vmin auto auto

  @media #{$small}
    grid-template-columns: 2fr 3fr
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto

.propertiesDown
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  line-height: 1

.characterCls
  @extend .propertiesDown
  grid-column-start: 1
  grid-column-end: 2
  grid-row-start: 1
  grid-row-end: 3

.characterHistory
  @extend .propertiesDown
  grid-column-start: 2
  grid-column-end: 3
  grid-row-start: 1
  grid-row-end: 3

.characterBonds
  @extend .propertiesDown
  line-height: 1
  grid-column-start: 3
  grid-column-end: 4
  grid-row-start: 1
  grid-row-end: 6

  @media #{$small}
    margin-top: 2.5vmin
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 4
    grid-row-end: 4

.characterAttributes
  grid-column-start: 1
  grid-column-end: 3
  grid-row-start: 4
  grid-row-end: 8
  display: grid
  grid-template-columns: 3fr 2fr 2fr

  @media #{$medium}
    grid-template-columns: 4fr 3fr 3fr

  @media #{$small}
    margin-top: 2.5vmin
    grid-template-columns: 4fr 3fr 3fr
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 6
    grid-row-end: 7

.characterStats
  grid-column-start: 4
  grid-column-end: 5
  grid-row-start: 1
  grid-row-end: 7
  display: grid
  line-height: 1
  grid-column-gap: 0.4vw
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto auto auto auto auto auto auto

  @media #{$medium}
    grid-template-columns: 4fr 3fr 3fr
    grid-column-gap: 0
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 10
    grid-row-end: 10

  @media #{$small}
    margin-top: 2.5vmin
    grid-template-columns: 4fr 3fr 3fr
    grid-column-gap: 0
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 8
    grid-row-end: 8

.gridTitle
  font-weight: bold

.gridItem
  font-weight: normal

.lostGridItem
  @extend .gridItem
  text-decoration: line-through

.disorders
  margin-top: 2vmin
  grid-column-start: 1
  grid-column-end: 3
  grid-row-start: 9
  grid-row-end: end
  display: grid
  line-height: 1
  grid-template-columns: 3fr 4fr

  @media #{$medium}
    grid-template-columns: 2fr 3fr
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 11
    grid-row-end: end

  @media #{$small}
    grid-template-columns: 2fr 3fr
    margin-top: 2.5vmin
    grid-column-start: 1
    grid-column-end: end
    grid-row-start: 9
    grid-row-end: end

.characterSheetSkills
  display: grid
  grid-column-gap: 1vw
  grid-template-columns: 1fr 1fr 1fr 1fr
  line-height: 1

  @media #{$medium}
    grid-template-columns: 1fr 1fr 1fr

  @media #{$small}
    grid-template-columns: 1fr 1fr

  @media #{$mobile}
    grid-template-columns: 1fr

.skillPair
  display: grid
  grid-column-gap: 0.5vw
  grid-template-columns: 3fr 1fr

  @media #{$mobile}
    grid-column-gap: 0
    grid-template-columns: 2fr 3fr