.copyright
  position: absolute
  top: 90%
  margin-top: 1vh
  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: wrap
  align-items: flex-start
  padding-right: 2vw
  padding-left: 2vw
  padding-top: 1.5vh
  border-top: groove
  font-family: 'Spectral SC', serif
  font-size: 1.2vmin
  color: darkslategrey