$manila: #fcdc8e

body,html
  padding: 0
  margin: 0
  background-color: $manila

a
  color: inherit

  &:hover
    color: darkgreen

.topbar
  display: grid
  grid-template-columns: 1fr 15fr
  grid-column-gap: 1px
  padding-left: 2vw
  padding-top: 2vh
  padding-bottom: 2vh
  border-bottom: groove

.generator-title
  font-family: 'Spectral SC', serif
  font-size: 4.5vmin
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center

.triangle
  width: 0
  height: 0
  border-left: 5vmin solid transparent
  border-right: 5vmin solid transparent
  border-bottom: 8.6vmin solid darkgreen

  &:hover
    border-bottom: 8.6vmin solid green

.main-content
  padding: 2vh 2vw
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex-wrap: wrap

.exposition
  font-family: 'Inconsolata', monospace
  font-size: 2.5vmin
  margin-bottom: 3vh

.topSecretBox
  color: red
  border: 1px solid red
  padding: 1vh
  text-transform: uppercase
  text-decoration: none
  font-family: 'Spectral SC', serif
  font-size: 18px

  &:hover
    color: darkred
    border: 2px solid darkred

.copyright
  position: absolute
  top: 90vh
  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: wrap
  align-items: flex-start
  padding-right: 2vw
  padding-left: 2vw
  padding-top: 1.5vh
  border-top: groove
  font-family: 'Spectral SC', serif
  font-size: 1.2vmin
  color: darkslategrey