.copyright
    div
        | Published by arrangement with the Delta Green Partnership. The intellectual
        | property known as Delta Green is ™ and © the Delta Green Partnership, who has
        | licensed its use here. The contents of this document have been released under GNU
        | GENERAL PUBLIC LICENSE Version 3 by Zachary Jacobi, excepting those elements that
        | are components of the Delta Green intellectual property
    p
        | You can&#32;
        a(href="https://github.com/zejacobi/DeltaGreen") contribute to this project on Github.