doctype html
html
    head
        link(href="{{ url_for('static', filename='style.css') }}" rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Inconsolata|Spectral+SC&amp;subset=latin-ext&amp;effect=anaglyph" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
        script(src="{{ url_for('static', filename='dgApp.js') }}")
        title='Delta Green Character Generator'
        body(ng-app="dgApp")
            script(src="{{ url_for('static', filename='controllers/header.js') }}")
            div(ng-controller="header")
                .topBar
                    a(class='triangle' href='/')
                    .generatorTitle {!title!}
            block content