extends header

block content
    script(src="{{ url_for('static', filename='controllers/landing.js') }}")
    div(ng-controller="landing")
        .modalUnderlay(ng-if='loadDialogue' ng-click='closeModal()')
        .modal(ng-if='loadDialogue')
            p Enter code to load character
            p
                form
                    input(class='codeNameInput', type='text', ng-model='input.id', placeholder='************************')
            div(ng-if='error')
                p Please enter a 24 character code to continue
            .buttonSpace
                .topSecretBox(ng-click='goToCharacter()') LOAD
                .topSecretBox(ng-click='closeModal()') CANCEL
        .mainContent
            .exposition
                p
                    a(href="http://www.delta-green.com/") Delta Green
                    | &#32;is a role playing game developed by the Delta Green Partnership. Delta Green is
                    | also a conspiracy. It works in the shadows, within governments and other
                    | organizations to make sure that knowledge of the Mythos doesn't leak out.
                    | Sometimes, Delta Green agents are even able to save people while accomplishing
                    | their primary mission.
                p
                    | This tool is intended as a resource for players and handlers alike. My hope
                    | is that it will provide ready-made characters for sessions of all sorts.
                p
                    | If you'd like to enter the conspiracy, press the button below. But beware
                    | Once you're in Delta Green, there's no way out. The only retirement plan the
                    | conspiracy offers is 9mm.
            a(class='topSecretBox' href='/character') generate
            br
            .topSecretBox(ng-click='openModal()') load

    include footer